body{
    background-color:rgb(219, 219, 219);
    color: rgb(26, 26, 26);
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
}

.wrapper{
    width: 1280px;
    margin: auto;
    background-color: white;
    padding-left: 12rem;
    padding-top: 4rem;
    padding-right: 12rem;
    padding-bottom: 6rem;
}

h1{
text-align: center;
font-size: 3rem;
padding: 120px;
padding-bottom: 20px;

}
h1 span:last-of-type{
    font-style: italic;
    font-weight: 100;
}

h1 span:first-of-type{
    font-weight: 100;
}
.bio{
width: 680px;
margin: auto;
font-size: 1.625rem;
padding-bottom: 140px;

}
body a {
    text-decoration: none;  
    color: rgb(26, 26, 26);
    padding: 20px;
    padding-left: 0;
    font-weight: 100;
}

.casestudies a{
 font-size: 1.625rem; 
}

p{
display: flex;
}

.balancecard span:first-of-type{
padding-right: 300px;
}   

.housecard span:first-of-type{
    padding-right: 300px;
    }   

.clowncard span:first-of-type{
padding-right: 300px;
}  

p{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 300;
    }

img{
padding-bottom: 80px;
}

hr { 
    display: block;
    margin-end: auto;
    margin-start: auto;
    border: 1px inset;
    overflow: hidden;
    margin-before: 0.5em;
    margin-after: 0.5em;
}